* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #323232;
    font: 600 18px Nunito, sans-serif;
}

.global {
    background: #6931ca;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 8px;
    box-shadow: 0px 0px 100px #000;

}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.navBar {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 8px;
}

.nav-menu {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 100px #000;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.nav-link {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    justify-content: center;
    padding: 15px;
    letter-spacing: 1px;
    line-height: 140%;
    font-size: 20px;
    color: grey;
    opacity: 0.3;
    list-style: none;
}

.nav-link:hover {
    color: #ff4e00;
}

.container {
    display: block;
    align-items: center;
    justify-content: center;
}
.profile {
    display: block;
    width: 100%;
    text-align: center;
}
p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
    letter-spacing: 1px;
    line-height: 140%;
    color: #ff4e00;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 16px;
}
